<meta charset="UTF-8">
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
    <p v-if="logado">Usuário logado: {{name}}</p>
    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum Usuário logado</p>
    <button @click="logado = !logado">
        {{logado ? 'Sair' : 'Entrar'}}
    </button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue ({
        el: '#app',
        data: {
            name: 'Maria',
            logado: true,
            anonimo: false
        }
    })
</script>